
#include "sac_resource.h"

/* The plot windows deliberately have no menu bar.  The File and Stuff menus
 * that used to be defined here were inert placeholders -- their handlers only
 * printed a line to stderr -- so they have been removed.  An ICON resource
 * would go here if the executable is ever given one. */


